<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>

    <title>Products catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<table class="table table-bordered table-striped table table-hover">
    <thead class="thead-light ">
    <thead>
    <tr>
        <th sec:authorize="hasRole('ADMIN')">ID</th>
        <th>Title</th>
        <th sec:authorize="hasRole('ADMIN')">SupplierId</th>
        <th>CategoryId</th>
        <th>Price</th>
        <th sec:authorize="hasRole('ADMIN')" style="width: 5%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td sec:authorize="hasRole('ADMIN')" th:text="${product.productId}"/>
        <td th:text="${product.productName}"/>
        <td sec:authorize="hasRole('ADMIN')" th:text="${product.supplierId}"/>
        <td>
            <a th:href="@{/category/showCategoryInfo(id=${product.categoryId})}"
               th:text="${product.categoryId}"/>
        </td>
        <td th:text="${product.price}"/>
        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/products/delete(id=${product.productId})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this Product?'))) return false">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<td>
    <div sec:authorize="hasRole('ADMIN')" class="text-center">
        <a th:href="@{/products/add}"
           class="btn btn-primary btn-lg active " style="width: 50%">
            Add Products Information
        </a>
    </div>
    <br/>
    <a th:href="@{/category}"
       class="btn btn-secondary btn-lg active"
       style="width: 49%">Show Category page</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/category/add}"
       class="btn btn-primary  btn-lg active"
       style="width: 49%">
        Add Category
    </a>
    <br>
    <br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/suppliers}"
       class="btn btn-secondary btn-lg active"
       style="width: 49%">Show Suppliers page</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/suppliers/add}"
       class="btn btn-primary  btn-lg active"
       style="width: 49%">Add Suppliers
    </a>
    <br>
    <br>
    <a th:href="@{/login}"
       class="btn btn-secondary  btn-lg active"
       style="width: 9%">Logout</a>
</td>
</html>